.link {
  text-decoration: none;
}

.active {
  color: rgb(138, 148, 95);
}


.nav {
  display: flex;
  gap: 8px;
  padding: 0 16px 8px 16px;
  font-size: 26px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}